{
    "tabWidth": 4,
    "useTabs": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "ignorePath": ".vscode"
}